EXTERNAL_REGISTRY_BASE_DOMAIN='308882746353.dkr.ecr.us-east-1.amazonaws.com'
REGISTRY_EMAIL='none'
REGISTRY_USERNAME='AWS'
DOCKERFILE='autospotting/Dockerfile'
DOCKERTAG='autospotting-ci'
REPOSITORY_NAME='parkassist/autospotting-ci'

NAMESPACE='autospotting-ci'
CRONJOBS=(autospotting-ci)
CONFIGMAPS=(staging/autospotting-ci)